body{
  padding: 25px;
  background-color:#ffffff;
}
header img{
  height: 15vh;
  width:15vw;

}

.title {
	color: #5C6AC4;
}
h2{
  margin-right: 50em;
}
hr{
  border-color: black;
  border-width: 1px;
}
.p1{
 display:inline;
 
 
}
.header{
  display:inline-block;
}